{% extends 'base/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}

<div class="container">
    <div class="my-4">
        <div class="d-inline">
            <h2 class="d-inline align-baseline">Add a New Location</h2>
            <h3 class="d-inline mx-1 align-text-bottom">for <u>{{business.name}}</u></h3>
        </div>
    </div>
    <form action="{% url 'business:create_location' id=business.id %}" method="post">
        {% csrf_token %}
        
        {% load widget_tweaks %}
        {% for hidden_field in form.hidden_fields %} 
            {{ hidden_field }} 
        {% endfor %} 

        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %} 
            {{ error }} 
            {% endfor %}
        </div>
        {% endif %} 
        
        {% for field in form.visible_fields %}
        <div class="form-group row">
            <div class="col-sm-2 d-flex align-items-center">
            {{ field.label_tag }} 
            </div>
            <div class="col-sm-10 row">
                <div class="col-md-8 col-sm-12">
                {% if field.name != 'phone' and field.name != 'is_primary' %}
                    {% if form.is_bound %} 
                        {% if field.errors %} 
                            {% render_field field class+="form-control is-invalid"%} 
                        {% else %} 
                            {% render_field field class+="form-control is-valid" %} 
                        {% endif %} 
                    {% else %} 
                        {% render_field field|add_class:"form-control" %} 
                    {% endif %} 
                {% elif field.name == 'phone' %}
                    <input type="text" name="phone_0" maxlength="3" id="id_phone_0" class="phone form-control" size="3">
                    <span class="mx-1">-</span>
                    <input type="text" name="phone_1" maxlength="3" id="id_phone_1" class="phone form-control" size="3">
                    <span class="mx-1">-</span>
                    <input type="text" name="phone_2" maxlength="4" id="id_phone_2" class="phone form-control" size="4">
                    <span class="mx-1">Ext:</span>
                    <input type="text" name="phone_3" maxlength="5" id="id_phone_3" class="phone form-control" size="5">
                {% elif field.name == 'is_primary' %}
                    <input type="checkbox" name="is_primary" checked class="form-control checkbox" id="id_is_primary">
                {% endif %}
                </div>
                <div class="col-md-4 col-sm-12 d-flex align-items-center">
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% elif field.help_text %}
                        <small class="form-text text-muted m-0">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}