<div class="sticky-top mx-0 px-0 col-md-12">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg sps sps--abv" id="navbar" data-sps-offset="75">
        <a class="navbar-brand" href="#top">Neighborhood Jobs</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse"
            aria-expanded="false" aria-label="Toggle Navigation">
            <i class="fa fa-bars text-primary"></i>
        </button>
        <div class="navbar-collapse show text-right justify-content-end collapse" id="navCollapse">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="employerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Employers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="employerDropdown">
                        <a class="dropdown-item" href="#">Employer Login</a>
                        <a class="dropdown-item" href="{% url 'business:add' %}">Add New Business</a>
                        <a class="dropdown-item" href="{% url 'jobs:create' %}">Post New Job</a>
                        <a class="dropdown-item" href="{% url 'business:get_all' %}">View All Businesses</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Job Search
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Job Search Login</a>
                        <a class="dropdown-item" href="{% url 'jobs:root' %}">View All Jobs</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        About
                    </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'signup' %}" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</div>
