<div class="customJs">
    <script type="text/javascript">
        var coordsList = [];
        {% for job in jobs %}
        coordsList.push([{{job.location.latitude}}, {{job.location.longitude}}]);
        {% endfor %}

        var mymap = L.map('mapid').setView({{ location.coordinates }}, 15);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: '{{ api_key }}'
        }).addTo(mymap);
        addPins();

        function addPins() {
          for(var i = 0; i < coordsList.length; i++) {
            L.marker(coordsList[i]).addTo(mymap);
          }
        }
    </script>


    <script type="text/javascript">
    $('#search-neighborhood').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!");  // sanity check
      //run the /search/ route when renderMapButton is activated
      var newCoordinates = retrieveCoordinates(updateMapCoordinates);
      //var newCoordinates = [36.1251958,-115.3150859];
      console.log("var newCoordinates is " + newCoordinates);
      //update the map with the new coordinates
      //updateMapCoordinates(newCoordinates);
      return false;
    });

    function retrieveCoordinates(callback){
      var coordinates = "";
      console.log("in retrieveCoordinates");
      console.log("ajax url = " + $('#search-neighborhood')[0].action);
      console.log("ajax data = " + $("#select-neighborhood").val());
      $.ajax({
        url: $('#search-neighborhood')[0].action,
        type: "GET",
        data: {query: $("#select-neighborhood").val()},

        // handle a successful response
        success: function(json){
          console.log("successful ajax response");
          console.log("Json response = " + json);
          console.log("json length = " + json.length);

          coordinates = [json.latitude, json.longitude];
          //console.log("In retrieveCoordinates, setting coords to [36.1251958,-115.3150859]");
          //coordinates = [36.1251958,-115.3150859];
          console.log(coordinates); //log the returned json to the console
          callback(coordinates);
        },

        //handle a failure
        error: function(xhr, errmsg, err) {
          console.log(xhr.status + ": " + xhr.responseText);
        }
      });
      return coordinates;
    }

    function updateMapCoordinates(latLongArray){
      mymap.setView(latLongArray, 15);
      return true;
    }
    </script>
</div>
