{% extends 'base/base.html' %}
{% block title %}{{title}}{% endblock %}

{% block body %}

<body>
    <div class="container">
        <h1 class="display-4 my-4">Neighborhood Jobs</h1>
        <form id="search-neighborhood" class="ui form" action="{% url 'home:search_loc' %}" method="get">
            <label for="neighborhood">Neighborhood</label>
            <input id="select-neighborhood" type="text" name="neighborhood" placeholder="Your Neighborhood" value="">
            <input type="submit" value="Render Map">
        </form>
        <p>Neighborhood = {{ location.neighborhood }} </p>

        <div class="row">
          <div class="col">
          <form method="POST" action="{% url 'jobs:create' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="jobTitle">Job Title</label>
                <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
              </div>
              <div class="form-group col-md-6">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" placeholder="Company Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="telephone">Phone</label>
                <input type="text" class="form-control" id="telephone" placeholder="555-555-5555">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" value="Chicago">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                  <option selected>IL</option>
                  <option>IN</option>
                  <option>WI</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="description">Job Description</label>
                <textarea class="form-control" id="Job Description" rows="5" placeholder="Short description of the job and any additional info that a job seeker might want to know. Hours, Travel, Need own vehicle, etc..."></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit Posting</button>
          </form>
        </div>

          <div class="col">
            <div class="jsMap" id="mapid" style="height:480px;width:600px;">
            </div>
          </div>
        </div>

    </div>
    {% include 'home/map_script.html' %}
</body>
{% endblock %}
