{% extends 'base/base.html' %}
{% block title %}{% trans "Page Unavailable" %}{% endblock %}
{% block body %}
{% load i18n %}
<body>
    <div class="container p-5">
        <h1>{% trans "Page unavailable" %}</h1>
        <p>{% trans "Sorry, but the requested page," %}
            <strong>
                <em>({% request_path %})</em>
            </strong>{% trans ", is unavailable due to a server hiccup." %}
        </p>
        <p>{% trans "The server administrator has been notified, so check back later." %}</p>
    </div>
</body>
{% endblock %}
