{% extends "base/base.html" %}

{% block body %}
<div id="logout-view" class="container">
    <div class="row center-vertical">
        <div id="login-view-card" class="col-md-6 col-sm-10 mx-auto my-5">
            <div class="card">
                <div class="card-header mx-0 navbar-brand bg-primary">
                    <h4 class="text-white">User Account</h4>
                </div>
                <div class="card-body">
                    <h5>Thank you for spending some time with us today</h5>
                    <h6>You're Logged Out</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}